$background-main: #4a515f;
$fontColor-main: #e9e9e9;
$background-form: #666f83;

.form-container {
  text-align: center;
  padding-left: 10px;
  background-color: $background-main;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: $fontColor-main;
}

.form {
  box-sizing: border-box !important;
  position: relative;
  background-color: $background-form;
  padding: 10px 0;
  border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
}
