.product-card__container {
  width: 23%;
  border-radius: 5px;
  background-color: #465063;
  padding: 5px;
}

.product-card__image {
  width: 100%;
  border-radius: 5px;
}

.card__image {
  max-width: 100%;
  max-height: auto;
  position: relative;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  height: 60px;
  color: rgb(190, 211, 228);
}

.product-card__description {
  margin-top: 5px;
  margin-bottom: 5px;
}
