.header {
  min-height: 80px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 0 5px white;
  flex: 0 0 auto;
}

.header__cart-num {
  border-radius: 50%;
  background-color: #f05713;
  color: white;
  padding: 3px 7px;
  line-height: 30px;
}

.header__cart-img {
  vertical-align: bottom;
}

.header__logo {
  font-weight: 700;
}

.header__right {
  p {
    margin: 0;
    padding: 0;
  }
}
