.header {
  min-height: 80px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 0 5px white;
  flex: 0 0 auto;
}

.header__cart-num {
  border-radius: 50%;
  background-color: #f05713;
  color: white;
  padding: 3px 7px;
  line-height: 30px;
}

.header__cart-img {
  vertical-align: bottom;
}

.header__logo {
  font-weight: 700;
}

.header__right {
  p {
    margin: 2px 0;
    padding: 0;
  }
}

.logout__button,
.profile__button {
  background-color: #373c47;
  border-radius: 3px;
  user-select: none;
  padding: 1px 5px !important;
  &:hover {
    cursor: pointer;
    background-color: #525a6b;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
