html, body {
  background-color: #282C34;
  position: relative;
}

/* .App {
  
} */

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #F1E3C9;
}

.header__menu,
.header__menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__menu {
  display: flex;
  width: 1200px;
  margin: 20px auto;
}

.header__menu li {
 margin: 0 30px 0 30px;
 width: 15%;
 background-color: #61DAFB;
 padding: 7px;
 border-radius: 5px;
 text-align: center;
}

.header__menu li a {
  text-decoration: none;
  color: rgb(27, 26, 39);
  width: 100%;
}

.header__menu li:hover {
  background-color: rgb(85, 116, 151);
  text-decoration: underline;
}


/* Greeting Task With Modal */


.greeting__content-button,
.modal__submit {
  padding: 7px;
  cursor: pointer;
  margin-left: 15px;
  text-align: center;
}

.greeting__modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 200px;
  background-color: #4e5768;
  border-radius: 5px;
  
}

.modal__close-button {
 cursor: pointer;
 position: absolute;
 right: 10px;
 top: 5px;
}

.modal__close-button:hover {
  text-shadow: 0 0 10px white;
}

.modal__input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  
}
.modal-control {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-top: 15px;
}

.modal__label {
  margin-bottom: 5px;
}

/* Shopping Task */
.shopping__container{
  color: #2f353f;
  font-weight: 700;
  width: 1200px;
  margin: 30px auto;
}
.shopping__header {

  background-color: rgb(191, 209, 248);
  padding: 5px;
  border-radius: 5px;
}

.shopping__header-item{
  color: rgb(158, 85, 218);
  text-align: left;
  line-height: 50px;
  font-size: 30px;
  margin-right: 20px;

}

.shopping__counter{
  background-color: rgb(158, 85, 218);
  border-radius: 10px;
  padding: 0px 25px;
  line-height: 50px;
  margin-right: 20px;
}

.shopping__amount {
  background-color: rgb(158, 85, 218);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.margin-right {
  margin-right: 10PX;
}

.btn-secondary, .btn-info {
  color: rgb(255, 255, 255);
}

.btn-secondary:hover{
  color: rgb(0, 0, 0);
}



