.post__container {
    width: 90%;
    margin: 10px auto;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    &:nth-child(2n) {
        background-color: #353e4e;
    }
    &:nth-child(2n-1) {
        background-color: #454e5e;
    }
}

.edit-button {
    margin-left: 20px !important;
}

.button__container {
    display: flex;
    align-items: center;
}
