.post__container {
    margin: 10px auto;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    &:nth-child(2n) {
        background-color: #353e4e;
    }
    &:nth-child(2n-1) {
        background-color: #454e5e;
    }
}

.edit-button {
    margin-left: 20px !important;
}

.button__container {
    display: flex;
    align-items: center;
}

.posts__sort {
    width: 10%;
}

.posts__sort-input {
    background-color: #4c5363 !important;
    color: #61dafb !important;
    border-color: #0d6efd !important;
    &:hover {
        cursor: pointer;
        border: 1px solid #61dafb !important;
        box-shadow: 0 0 10px #61dafb;
    }
}

.posts__search-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.post__search-input {
    position: relative;
    top: 2px;
    height: 40px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    outline: none;
    border: 1px solid #61dafb;
    border-right: none;
    color: #61dafb;
    background-color: #4c5363;
    padding: 0px 10px !important;
    &:hover {
        cursor: text;
    }
    &::placeholder {
        color: #9db1ce;
    }
}

.search-button {
    height: 40px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
