.form__item {
  background-color: rgb(104, 118, 145);
  padding: 15px;
  border-radius: 5px;
  width: 45%;
  margin-top: 30px;
  margin: 0 auto;
}

.form__input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
  width: 100%;
}

.form__control {
  margin-bottom: 30px;
}

.form__submit {
  padding: 10px 20px;
}

.form__submit:hover {
  cursor: pointer;
}